<div class="container">
  <hr>

  <% unless current_user_subscribed? %>
    <p><b>Lists:</b> Here you can view your investor lists, create new ones and export them to CSV.</p>
    <%= link_to "Upgrade to pro today to create & download your own investor lists", premium_path, class: "btn btn-primary button-margin" %>
  <% else %>

    <div class="col-md-2">
      <p><%= current_user&.list.name || 'List' %></p>
    </div>

    <div class="col-md-10">
      <ul class="media-list">
        <% if trial_expired? %>
          <%= link_to 'Export list to CSV', lists_path(format: :csv), class: 'btn btn-primary pull-right' %>
        <% end %>
        <!-- TODO: need to install latest bootstrap to give access to custom classes -->
        <br><br>
        <%= render 'shared/search_results', results: @investors %>
        <% if current_user_subscribed? %>
          <div class="text-center">
            <%= will_paginate @investors %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
