<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :investor_type %>
    <%= form.text_field :investor_type %>
  </div>


  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :mininvest %>
    <%= form.text_field :mininvest %>
  </div>

  <div class="field">
    <%= form.label :maxinvest %>
    <%= form.text_field :maxinvest %>
  </div>

  <div class="field">
    <%= form.label :angelurl%>
    <%= form.text_field :angelurl %>
  </div>

  <div class="field">
    <%= form.label :website_url%>
    <%= form.text_field :website_url %>
  </div>

  <div class="field">
    <%= form.label :angellist_url%>
    <%= form.text_field :angellist_url %>
  </div>

  <div class="field">
    <%= form.label :linkedin_url%>
    <%= form.text_field :linkedin_url %>
  </div>

  <div class="field">
    <%= form.label :twitter_url%>
    <%= form.text_field :twitter_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
