<style type="text/css">

  body {
    background: #F2F3F4;
  }

  p {
    margin-bottom: 0px;
  }

  .outer-margin {
    margin-top: 50px;
  }


</style>


<%= content_for :title do %>
     Account Settings | DiasporaConnect
<% end %>


<div class="container outer-margin">

  <div class="row">
    <div class="col-md-3">
      <p>General Settings</p>
    </div>


    <div class="col-md-9">

      <div class="panel panel-default">
        <div class="panel-heading text-center"><p>Settings / <strong>General</strong></p></div>
        <div class="panel-body">
          <%# form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= form_for(@user, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%# devise_error_messages! %>
              <% flash.each do |name, msg| %>
                <%= content_tag(:div, msg, class: "alert alert-success") %>
              <% end %>
              
            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>Name</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.text_field :name, autofocus: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>Email</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.email_field :email, autofocus: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>Username</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.text_field :username, autofocus: true %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%# f.label :investor, "Investor" %>
              <%# f.check_box :investor, autofocus: true %>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>Photo</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.file_field :photo %>
                  <%= image_tag(current_user.photo.url(:thumb), :width => "55px") %>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>Resume</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.text_area :miniresume, autofocus: true %>
                </div>
              </div>
            </div>


            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <hr>
            <p class="text-center">Settings / <strong>Password</strong></p>
            <br>
       
           <div class="row">
            <div class="col-md-4">
              <div class="field pull-right">
                <p><strong>Current Password</strong></p>
              </div>
            </div>

            <div class="col-md-8">
              <div class="field">
                <%= f.password_field :current_password, autocomplete: "off" %>
              </div>
            </div>
          </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>New password</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field pull-right">
                  <p><strong>Confirm new password</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
                <div class="actions">
                  <%= f.submit "Save", class: "button" %>
                </div>
              </div>
            </div>
          <% end %>


          <% if current_user_subscribed? %>
            <hr>
            <p class="text-center">Settings / <strong>Update Card</strong></p>
            <br>


            <p>Your current card on file is</p>

            <div><%= current_user.card_brand %> **** **** **** <%= current_user.card_last4 %></div>
            <div>Expires <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>

            <br>
            <%= form_with url: card_path, method: :put, id: "payment-form" do %>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label for="cardNumber">CARD NUMBER</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        name="cardNumber"
                        placeholder="Valid Card Number"
                        autocomplete="cc-number"
                        required autofocus
                        />
                      <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                    <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span>
                      DATE</label>
                    <input
                      type="text"
                      class="form-control"
                      name="cardExpiry"
                      placeholder="MM / YY"
                      autocomplete="cc-exp"
                      required
                      />
                  </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                    <label for="cardCVC">CV CODE</label>
                    <input
                      type="text"
                      class="form-control"
                      name="cardCVC"
                      placeholder="CVC"
                      autocomplete="cc-csc"
                      required
                      />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button class="subscribe btn btn-success btn-lg btn-block" type="button">Update Card</button>
                </div>
              </div>
              <div class="row" style="display:none;">
                <div class="col-xs-12">
                  <p class="payment-errors"></p>
                </div>
              </div>
            <% end %>

            <hr>
            <div class="text-center">
              <p>Cancel subscription</strong></p>
              <!-- make sure use user_path(resource_name) -->
              <p class="center"><%= button_to "Cancel subscription", subscription_path, data: {confirm: "Are you sure?"}, class: "button", method: :delete %></p>

              <%# link_to "Back", :back %>
            </div>

          <% end %>

          <hr>
          <div class="text-center">
            <p>Cancel my account</strong></p>
            <!-- make sure use user_path(resource_name) -->
            <p class="center"><%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, class: "button", method: :delete %></p>
          </div>


        </div>
      </div>


    </div>
  </div>
</div>
