<style type="text/css">
	
	.profile-margin {
		margin-right: 15px
	}

	.hr2 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    border-width: 0;
    border-top: 1px solid #e8e8e8;
}

.no-margin-bottom {
	margin-bottom: .825rem;
}

.col-md-10{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 0px;
}


</style>

<div class="container">
  <div class="row">
    <hr>


    <div class="col-md-2">
      <p>People</p>
      <p><%= link_to "Investors", investors_path, class: "u-colorMuted" %></p>
    </div>

    <div class="col-md-10">

      <%= render :partial => 'shared/search' %>

      <ul class="media-list">
        <p><%= @users.count %> user results</p>
        <div></div>
        <% @users.each do |user| %>
          <li class="media">
            <%= link_to image_tag(user.photo.url(:medium), :class => "img-circle profile-margin pull-left", :width => "75px"), user_path(user) %>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, user_path(user) %></h4>
              <p class="no-margin-bottom"><%= user.miniresume %></p>
            </div>

          </li>
          <div></div>
        <% end %>
      </ul>

      <% if @profiles %>
      <ul class="media-list">
        <p><%= @profiles.count %> profile results</p>
        <div></div>
        <% @profiles.each do |user| %>
          <li class="media">
            <%= link_to image_tag(user.photo.url(:medium), :class => "img-circle profile-margin pull-left", :width => "75px"), user_path(user) %>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, profile_path(user) %></h4>
              <p class="no-margin-bottom"><%= user.location %></p>
            </div>

          </li>
          <div></div>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>