<style type="text/css">
	
.col-md-7 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
}

.col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
}

.img{
    float: left;
    margin-right:1rem;
}

form {
    margin-bottom: 0rem;
}

.border:not(:last-child) {
    border-bottom: solid thin #dddddd;
    margin-bottom: 20px;
}

.background {
    background-color: #1d2531;
    color: #fff;
}


.margin-button-top {
  margin-top: 15px;
}

</style>

<%= content_for :title do %>
     Investor Search | DiasporaConnect
<% end %>


<div class="container">

    <hr>


  <div class="col-md-2">
    <p>Investors</p>
    <!-- <p><% link_to "Registered users", investors_path, class: "u-colorMuted" %></p>
    <small>People</small><br>
    <small>Investors</small> -->
  </div>

    <div class="col-md-10">
      <%= render :partial => 'shared/search' %>
      <div class="border"></div>
      <ul class="media-list">
        <p><%= @profiles.count %> results</p>
        <%= render 'shared/search_results', results: @profiles %>
        <% if current_user_subscribed? %>
          <div class="text-center">
            <%= will_paginate @profiles %>
          </div>
        <% end %>
      </ul>
<!--
<p>Registered users</p>

      <ul class="media-list">
        <p><%= @users.count %> user results</p>
        <div></div>
        <% @users.each do |user| %>
          <li class="media">
          <% if user.photo.exists? %>
            <%= link_to image_tag(user.photo.url(:medium), :class => "img-circle profile-margin pull-left", :width => "75px"), user_path(user) %>
          <% end %>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, user_path(user.id) %></h4>
              <p class="no-margin-bottom"><%= user.miniresume %></p>
            </div>

          </li>
          <div></div>
        <% end %>
      </ul>
-->
    </div>
  </div>
  <% unless current_user_subscribed? %>
    <div class="background">
      <div class="container">
        <h2 class="headline ng-star-inserted">View all <%= @profiles.count %> investors from this search</h2>
        <div class="description ng-star-inserted">Our trial search is limited to 3 results per search query. When you upgrade to TheDiasporaConnect Pro, you  can access unlimited search results, create and export investor lists to CSV and access to all search filters.
        </div>
        <div class="row">
            <%= link_to "START FREE TRIAL", premium_path, class: "btn btn-primary button-margin margin-button-top" %>
          </div>
      </div>
    </div>
  <% end %>


</div>