<script>
$(document).ready(function(){
    $(".edit").hide();
    $("#hide").click(function(){
        $(".edit").hide();
        $(".profileheader").show();
    });
    $("#show").click(function(){
        $(".edit").show();
        $(".profileheader").hide();
    });
});
</script>




<div class="profileheader">
  <div>
    <header class="header-box _bg-image" style=" background: url('/assets/main-guy.jpg') 50% 50% / cover; box-shadow: 1500px 313px rgba(0, 0 ,0, 0.6) inset;">   
    <div class="container">
      <% if @user == current_user %>
        <button id="show" class="button _filled-white-grey scroll-link highlighted pull-right">Edit Profile</button>
      <% end %>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="text-center center">
            <%= image_tag(@user.photo.url(:medium), :class => "img-circle profile_margin", :width => "125x") %>
            <h1 class="page-title profile_margin"><%= @user.name %></h1>
            <p><%= @user.miniresume %></p> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <h4><strong>ABOUT</strong></h4>
      <h4>WHAT I DO</h4>
      <p><%= @user.whatido %></p> 


      <h4>ACHEIVEMENTS</h4>
      <p><%= @user.achievements %></p>

      <h4>WHAT I'M LOOKING FOR</h4>
      <p><%= @user.lookingfor %></p> 
    </div>
  </div>
</div>

<div class="edit">
  <div class="row">

  <% if @user == current_user %>

  <h2> <%= @user.name %> / Edit Profile </h2>
      <button id="hide">Cancel</button> 

    <%= form_for(@user) do |f| %>
        <%= devise_error_messages! %>


      <div class="actions">
        <%= f.submit "Save" %>
      </div>

      <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :photo %>
        <%= f.file_field :photo, class: "form-control" %>
      </div>

      <%# image_tag(current_user.photo.url(:thumb)) %>


      <div class="field">
        <%= f.label :miniresume %><br />
        <%= f.text_area :miniresume , autofocus: true %>
      </div>


    <div class="field">
    <%= f.label :Linkedin %><br />
    <%= f.text_field :linkedin, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label :Twitter %><br />
    <%= f.text_field :twitter, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label :Facebook %><br />
    <%= f.text_field :facebook, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label :Website %><br />
    <%= f.text_field :website, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label :Linkedin %><br />
    <%= f.text_field :linkedin, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label "What I do" %><br />
    <%= f.text_area :whatido, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label "Achievements" %><br />
    <%= f.text_area :achievements, autofocus: true %>
    </div>

    <div class="field">
    <%= f.label "What I'm looking for" %><br />
    <%= f.text_area :lookingfor, autofocus: true %>
    </div>

    <% end %>




  <% end %>

  </div>
</div>