<script>
$(document).ready(function(){
    $(".edit").hide();
    $("#hide").click(function(){
        $(".edit").hide();
        $(".liveinfo").show();
    });
    $("#show").click(function(){
        $(".edit").show();
        $(".liveinfo").hide();
    });
});
</script>

<style type="text/css">
  
.background {
    background: #F2F3F4;
}

p {
    margin-bottom: 0px;
}

.outer-margin {
    margin-top: 50px;
}

.u-fontSize13 {
    font-size: 13px;
    line-height: 21px;
}

</style>


<div class="profileheader">


  <div>
    <header class="header-box _bg-image" style=" background: url('/assets/main-guy.jpg') 50% 50% / cover; box-shadow: 1500px 313px rgba(0, 0 ,0, 0.6) inset;">   
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-success") %>
      <% end %>

      <% if @user == current_user %>
        <button id="show" class="button _filled-white-grey scroll-link highlighted pull-right">Edit Profile</button>
      <% end %>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="text-center center">
            <%= image_tag(@user.photo.url(:medium), :class => "img-circle profile_margin", :width => "125x") %>
            <h1 class="page-title profile_margin"><%= @user.name %></h1>
            <p><%= @user.miniresume %></p> 
            <i class="fab fa-twitter fa-lg"></i>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="liveinfo">
    <div class="container">
      <div class="col-md-1">
      </div>
      <div class="col-md-9 text-left">
        <h4><strong>ABOUT</strong></h4>
        <h4>WHAT I DO</h4>
        <p><%= @user.whatido %></p> 


        <h4>ACHEIVEMENTS</h4>
        <p><%= @user.achievements %></p>

        <h4>WHAT I'M LOOKING FOR</h4>
        <p><%= @user.lookingfor %></p> 
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div>



<div class="background">
  <div class="container">
    <div class="edit">
      <div class="row">

      <% if @user == current_user %>

    <div class="panel panel-default outer-margin">
      <div class="panel-heading text-center"><p> <%= @user.name %> / <strong>Edit Profile</strong></p></div>

        <%= form_for(@user) do |f| %>
            <%= devise_error_messages! %>

          <div class="panel-body">

          <div class="row">
              <ul class="pull-right list-inline">
                <li><a href="" id="hide">Cancel</a></li>
                <li>
                  <div class="actions">
                    <%= f.submit "Save" %>
                  </div>       
                </li>
              </ul> 
          </div>

          <div class="row">

              <div class="col-md-6">

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>Name</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                     <%= f.text_field :name, autofocus: true %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>Photo</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                    <%= f.file_field :photo %>
                    <%= image_tag(current_user.photo.url(:thumb), :width => "55px") %>
                  </div>
                </div>
              </div>
              <br>

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>Resume</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                    <%= f.text_area :miniresume , autofocus: true %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>What I do</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                    <%= f.text_area :whatido , autofocus: true %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>Achievements</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                    <%= f.text_area :achievements , autofocus: true %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>What I'm looking for</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                    <%= f.text_area :lookingfor , autofocus: true %>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-md-6">


             <div class="row">
                <div class="col-md-4">
                  <div class="field">
                    <p><strong>Linkedin</strong></p>
                  </div>
                </div>

                <div class="col-md-8">
                  <div class="field">
                     <%= f.text_field :linkedin, autofocus: true %>
                  </div>
                </div>
              </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field">
                  <p><strong>Twitter</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                   <%= f.text_field :twitter, autofocus: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field">
                  <p><strong>Facebook</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                   <%= f.text_field :facebook, autofocus: true %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="field">
                  <p><strong>Website</strong></p>
                </div>
              </div>

              <div class="col-md-8">
                <div class="field">
                   <%= f.text_field :website, autofocus: true %>
                </div>
              </div>
            </div>

          </div>
          <% end %>
        </div>
            
          </div>
</div> 

      <% end %>

      </div>
    </div>
  </div>
</div>