<style type="text/css">
	.container.cc-blogpost {
    display: block;
    max-width: 770px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    font-family: Raleway,sans-serif;
}

.header.mini.blog {
    margin-bottom: 0;
    padding: 37px 30px 0px 0px;
    -ms-flex-direction: column;
    flex-direction: column;
}

h1, h2 {
    font-weight: 700;
}

.rich-text.blog-post-content {
    margin-top: 32px;
    font-size: 1em;
    line-height: 1.65;
}

li {
    font-size: 14px;
    color: #000;
    list-style-type: square;
 }

 .header-image {
    z-index: 1;
    margin-bottom: 37px;
    max-height: 750px;
    max-width: 800px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

a {
    color: #59b0f6;
    text-decoration: none;
}

a:hover{
  text-decoration: none;
}

</style>

<!—- ShareThis BEGIN -—>
<script async src="https://platform-api.sharethis.com/js/sharethis.js#property=5dfcb28f6aa63f00120a45a0&product=sticky-share-buttons"></script>
<!—- ShareThis END -—>

<%= content_for :title do %>
    <%= @blog.title %> | DiasporaConnect
<% end %>

<div class="container">
<hr>
	<div class="row">
		<div class="header mini blog col-md-offset-1">
		   	<h1 class="col-md-11 mx-auto"><%= @blog.title %></h1>
		</div>
        <div class="container header-image text-center">
            <%= image_tag @blog.image.url %>
        </div>
	</div>

	<div class="row">
		<div class="container cc-blogpost">
			<div class="text-block-9 blog-post"><p><%= @blog.published_at.strftime("%B %d, %Y") %></p></div>
			<div class="rich-text blog-post-content w-richtext">
				<%= raw @blog.body %>
			</div>
		</div>
	</div>
	  
</div>

<%# link_to 'Edit', edit_blog_path(@blog) %> |
<%# link_to 'Back', blogs_path %>
