<div class="media" onclick="location.href='<%= conversation_path(conversation) %>';" style="cursor: pointer">
  <%= image_tag(conversation.originator.photo.url(:thumb), :class => "pull-left profile-margin media-object", :width => "40px") %>
  <div class="media-body">
    <h4 class="media-heading"><%= conversation.originator.name %></h4>
    <p class="no-margin-bottom"><%= truncate(conversation.messages.last.body, length: 100) %></p>

    <small class="timestamp"><%=  conversation.messages.last.created_at.strftime("%A, %b %d, %Y at %I:%M%p") %></small>

    <% link_to "View", conversation_path(conversation)  %>
  </div>
</div>
