<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipient %>
      <%= f.select(:recipient, @recipients .collect {|p| [ p.name, p.id ] }, { prompt: "" }, { data: { placeholder: "Type a name"}, class: "form-control", multiple: true })%>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>
    <% if current_user_subscribed? %>
      
      <%= f.submit "Send Message", class: "btn btn-success" %>

    <% else %>

      <%# link_to "Subscribe To Send", new_subscription_path, class: "btn btn-primary" %>
      <%= f.submit "Send Message", class: "btn btn-success" %>

    <% end %>

<% end %>