<h1><%= @conversation.subject %></h1>


<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <div><%= receipt.message.sender.name %> commented:</div>
    <p><%= receipt.message.body %></p>
  </div>
<% end %>


<%= form_tag conversation_messages_path(@conversation), method: :post do %>

<div>
  <%= text_area_tag :body %>
</div>

	<% if current_user_subscribed? %>
		<%= submit_tag %>
	<% else %>
		<%= submit_tag %>
		<%= link_to "Subscribe To Send", new_subscription_path, class: "btn btn-primary" %>
	<% end %>
<% end %>
