<title><%= yield(:title).presence || "DiasporaConnect - Where people of african, african american & caribbean heritage find black investors." %></title>
<meta property="og:title" content="<%= yield(:title).presence || "DiasporaConnect - Where people of african, african american & caribbean heritage find black investors." %>">
<meta name="keywords" content="<%= yield(:meta_keywords).presence || "default, keywords" %>" />
<meta name="description" content="<%= yield(:meta_description).presence || "Default description" %>" />
<meta name="author" content="<%= yield(:meta_author).presence %>" />
<meta property="og:image" content="<%= yield(:meta_image).presence %>">