<style type="text/css">
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    margin: 0rem 0rem 0rem 0;
    margin-right: 15px;
  }
.button-margin {
  margin-bottom: 20px;
}
</style>

<div class="row">
  <%= form_with model: @search || Search.new, local: true do |f| %>
    <div class="form-group">
      <%= f.text_field :keywords, id: 'custom-search-input', class: 'form-control', placeholder: 'Search people or investor' %>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :location %>
            <%= f.text_field :location, class: "form-control", placeholder: 'Enter a location' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <%= f.label :role %>
            <%= f.text_field :role, class: "form-control", placeholder: 'Search...Angel, Venture Capitalist' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :investment_range, "Investment Range" %>
          <div class="row">
            <div class="col-xs-5">
                <%= f.number_field :min_invest, class: "form-control", placeholder: '$' %>
            </div>
              <div class="col-xs-1 text-center"> - </div>
            <div class="col-xs-6">
                <%= f.number_field :max_invest, class: "form-control", placeholder: '$' %>
            </div>
              <div class="pull-right">
                  <%= f.submit "Search", class: "button" %>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% unless current_user_subscribed? %>
      <div class="text-center">
        <%= link_to "Upgrade to Pro to Access Filters", premium_path, class: "btn btn-primary button-margin" %>
      </div>
    <% end %>
  <% end %>
</div>

