<ul class="nav nav-pills nav-stacked">
<div class="list-group">
    <%= link_to mailbox_inbox_path, class: "list-group-item"  do %>
        <span class="badge badge-danger pull-right"><%=unread_messages_count%></span>
        <span>Inbox</span>
    <% end %>
    <%= link_to mailbox_sent_path, class: "list-group-item" do %>

        <!-- <em class="fa fa-paper-plane-o fa-lg"></em> -->
        <span>Sent</span>
    <% end %>
    <%= link_to mailbox_trash_path, class: "list-group-item" do %>
        <!-- <em class="fa fa-trash-o fa-lg"></em> -->
        <span>Trash</span>
    <% end %>
</div>

<div class="list-group">
    
    <a class="list-group-item" href="#"><!-- <em class="fa fa-trash-o fa-lg"></em> --><span>Notifcations</span></a>

</div>

  
</ul>


<!--
  <li class="<%= active_page(:Inbox) %>">
    
  </li>

  <li class="<%= active_page(:sent) %>">
    
  </li>

  <li class="<%= active_page(:trash) %>">
    <%= link_to mailbox_trash_path do %>
       <em class="fa fa-trash-o fa-lg"></em>
        <span>Trash</span>
    <% end %>
  </li>

  -->