<style type="text/css">

.col-md-7 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
}

.col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
}


</style>

<% if user_signed_in? %>

<div class="container">

  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-success") %>
  <% end %>
<!--
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail max-height">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag(current_user.photo.url(:thumb), :class => "round-image-28") %><span class=""></span></a>
        <p>Anthony Francis View your profile »</p>
      </div>
    </div>
    <div class="col-sm-8">
      <% @syndicates.each do |syndicate| %>
        <div class="thumbnail max-height">
          <div class="row">
          <br>
          <br>
          
          </div>
          <div class="caption text-center">
            <strong><%= link_to syndicate.user.name, syndicate, :class => "text-center"  %></strong> created syndicate
            <p class="more"><%= syndicate.user.miniresume %></p>
            <br>
            <%= link_to "Back Syndicate", syndicate, :class => "btn btn-default"  %>
          </div>
          <%# link_to 'Show', syndicate %>
            <% if syndicate.user == current_user %>
            <%#  link_to 'Edit', edit_syndicate_path(syndicate) %>
            <%#  link_to 'Destroy', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

-->

<!-- <p>Anthony Francis created syndicate Black Hair Businesses (Back Syndicate)</p>
<p>Anthony Francis created business Diaspora Project (Follow / View Jobs)</p>
<p>Diaspora Project is recruiting</p>
<p>What's popular</p> -->

<hr>


  <div class="col-md-2">
    <p>People</p>
    <p><%= link_to "Investors", investors_path, class: "u-colorMuted" %></p>
  </div>

  <div class="col-md-10">

  
  <ul class="media-list">
  <p><%= @users.count %> results</p>
  <div></div>
    <% @users.each do |user| %>
        <li class="media">
             <%= link_to image_tag(user.photo.url(:medium), :class => "img-circle profile-margin pull-left", :width => "75px"), user_path(user) %>   
              <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, user_path(user) %></h4>
                <p class="no-margin-bottom"><%= user.miniresume %></p>
            </div>
              
            </li> 
    <div></div>
      <% end %>
    </ul>

    </div>

<% else %>

<div class="first-screen" style="background: url('/assets/main-guy.jpg') 50% 50% / cover; box-shadow: 1500px 313px rgba(0, 0 ,0, 0.31) inset;">
<div class="container">
    <div class="row">
        <div class="col-md-7" style="color: #fff;">
            <br>
            <br>
            <h1 class="text-shadow">The<strong>Diaspora</strong>Project</h1>
            <h2 class="text-shadow">Where people of african <br>and african caribbean heritage can invest</h2>
            <!-- <h2 class="text-shadow">UK investement network</h2> -->
            <!--<div class="text-shadow">
                <p>SD Business is a fully responsive, customizable, powerful and lightweight WordPress theme that will introduce your business in the most elegant way. </p> -->
         </div>
         <div class="col-md-8">
				<div class="hompage_margin_bottom">
                    <%# link_to "Raise Money Online", companies_path, :class => "button _filled-white-grey scroll-link highlighted"  %>
                    <%# link_to "Invest in a company", syndicates_path, :class => "button _white scroll-link highlighted"  %>
                    <%= link_to "Raise Money Online", people_path, :class => "button _filled-white-grey scroll-link highlighted"  %>
				</div>
            </div>
        </div>
    </div>
</div>
</div>

<% end %>