<style type="text/css">

  .col-md-7 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
  }

  .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
  }

  .img {
    float: left;
    margin-right: 1rem;
  }

form {
    margin-bottom: 0rem;
}

.border:not(:last-child) {
    border-bottom: solid thin #dddddd;
    margin-bottom: 20px;
}

.component--results .all-results-upsell-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 205px;
    background-color: rgba(0,0,0,.7);
}

.component--results .all-results-upsell-wrapper {
    min-height: 410px;
}

.background {
    background-color: #1d2531;
    color: #fff;
}


.margin-button-top {
  margin-top: 15px;
}

a.button._filled-white-grey.scroll-link.highlighted {
    text-decoration: none;
}

</style>

<%= content_for :title do %> 
  <% if user_signed_in? %>
       Investor Search | DiasporaConnect
  <% end %>
<% end %>


<% if user_signed_in? %>

  <div class="container">

    <%# flash.each do |name, msg| %>
      <%#= content_tag(:div, msg, class: "alert alert-success") %>
    <%# end %>
    <!--
  <div class="row">
    <div class="col-sm-3">
      <div class="thumbnail max-height">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag(current_user.photo.url(:thumb), :class => "round-image-28") %><span class=""></span></a>
        <p>Anthony Francis View your profile »</p>
      </div>
    </div>
    <div class="col-sm-8">
      <% @syndicates.each do |syndicate| %>
        <div class="thumbnail max-height">
          <div class="row">
          <br>
          <br>
          
          </div>
          <div class="caption text-center">
            <strong><%= link_to syndicate.user.name, syndicate, :class => "text-center" %></strong> created syndicate
            <p class="more"><%= syndicate.user.miniresume %></p>
            <br>
            <%= link_to "Back Syndicate", syndicate, :class => "btn btn-default" %>
          </div>
          <%# link_to 'Show', syndicate %>
            <% if syndicate.user == current_user %>
            <%#  link_to 'Edit', edit_syndicate_path(syndicate) %>
            <%#  link_to 'Destroy', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

-->

    <!-- <p>Anthony Francis created syndicate Black Hair Businesses (Back Syndicate)</p>
    <p>Anthony Francis created business Diaspora Project (Follow / View Jobs)</p>
    <p>Diaspora Project is recruiting</p>
    <p>What's popular</p> -->

    <hr>


    <div class="col-md-2">
      <p>Investors</p>
      <!--<p><%= link_to "Registered users", investors_path, class: "u-colorMuted" %></p>
    <small>People</small><br>
    <small>Investors</small> -->
    </div>

    <div class="col-md-10">
    <%= render :partial => 'shared/search' %>
    <div class="border"></div>
    <ul class="media-list">
      <p><%= @profiles.count %> results</p>
      <%= render 'shared/search_results', results: @profiles %>
      <% if current_user_subscribed? %>
        <div class="text-center">
          <%= will_paginate @profiles %>
        </div>
      <% end %>
    </ul>
      <!--
  <p>Registered users</p>
  <ul class="media-list">
  <p><%= @users.count %> results</p>
  <div></div>


    <% @users.each do |user| %>
        <li class="media">
        <% if user.photo.exists? %>
             <%= link_to image_tag(user.photo.url(:medium), :class => "img-circle profile-margin pull-left", :width => "75px"), user_path(user) %>
         <% end %>
              <div class="media-body">
              <h4 class="media-heading"><%= link_to user.name, user_path(user.id) %></h4>
                <p class="no-margin-bottom"><%= user.miniresume %></p>
            </div>
              
            </li> 
    <div></div>
      <% end %>
    </ul>
-->
    </div>
  </div>
<% unless current_user_subscribed? %>
  <div class="background">
    <div class="container">
      <h2 class="headline ng-star-inserted">View all <%= @profiles.count %> investors from this search</h2>
      <div class="description ng-star-inserted">Our trial search is limited to 3 results per search query. When you upgrade to TheDiasporaConnect Pro, you  can access unlimited search results, create and export investor lists to CSV and access to all search filters.
      </div>
      <div class="row">
        <%= link_to "START FREE TRIAL", premium_path, class: "btn btn-primary button-margin margin-button-top" %>
      </div>
    </div>
  </div>
<% end %>

<% else %>

  <div class="first-screen" style="background: url('/assets/valley.jpg') 50% 50% / cover; box-shadow: 1500px 313px rgba(0, 0 ,0, 0.31) inset;">
    <div class="container">
      <div class="row">
        <div class="col-md-7" style="color: #fff;">
          <br>
          <br>
          <h1 class="text-shadow"><strong>Diaspora</strong>Connect</h1>
          <h2 class="text-shadow">Where people of african <br>and african caribbean heritage find black investors</h2>
          <!-- <h2 class="text-shadow">UK investement network</h2> -->
          <!--<div class="text-shadow">
              <p>SD Business is a fully responsive, customizable, powerful and lightweight WordPress theme that will introduce your business in the most elegant way. </p> -->
        </div>
        <div class="col-md-8">
          <div class="hompage_margin_bottom">
            <%# link_to "Raise Money Online", companies_path, :class => "button _filled-white-grey scroll-link highlighted"  %>
            <%# link_to "Invest in a company", syndicates_path, :class => "button _white scroll-link highlighted"  %>
            <%= link_to "Search Now", people_path, :class => "button _filled-white-grey scroll-link highlighted button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>