<style type="text/css">
.point {
list-style-type: none;
}

.margin {
	margin-top: 15px;
}
</style>

<%= content_for :title do %>
     DiasporaConnect Pricing | Where people of african and african caribbean heritage find black investors
<% end %>

<div class="container">
	<div class="row text-center">
		<h3><b>Become a full member from only $33!</b></h3>
		<p>Join hunderds of people who has raised investment on the UK's leading black community fundraising platform.</a></p>
		<hr>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	  	<div class="thumbnail">
		      <div class="caption">
		        <h4 class="text-center"><b>Free</b><br>
		        <h4 class="text-center"><b>$0</b/>/month</h4></h4><br>
		        <ul class="margin">
			       	<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to database of 290+ investors</li>
			        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
			        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Search results limited to 3 investors per query</li>
					<li class="point pull-left"><em class="fa fa-times fa-lg"></em> Access to all search filters</li>
					<li class="point pull-left"><em class="fa fa-times fa-lg"></em> Create investor lists</li>
					<li class="point pull-left"><em class="fa fa-times fa-lg"></em> Export investor lists to CSV</li>
				</ul>
		        <li class="point text-center"><%= link_to "REGISTER", new_user_registration_path, class: "btn btn-primary" %></li>
		      </div>
    
	  </div>
	</div>
	  <!--<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption text-center">
	        <h4><b>3 Months</b><br><p><i>Great value</i></p><h4><b>£48</b></h4></h4>

	        <p>Payment of <b>£48</b> every 3 months<br>You can cancel at any time</p>

	        <p><%= link_to "Get Started", subscription_path(plan: "threemonths"), class: "btn btn-primary" %></p>
	      </div>
	    </div>
	  </div> -->
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption">
	        <h4 class="text-center"><b>Basic</b><br>
	        <h4 class="text-center"><b>$33</b/>/month<p>3 Day Free Trial</p></h4></h4>
	        <ul>
		       	<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to database of 290+ investors</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Remove query limitations</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to all search filters</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Create list of 25 investors at a time</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Export investor lists to CSV</li>
			</ul>
	        <li class="point text-center"><%= link_to "TRY PRO FOR FREE", new_subscription_path(plan: "monthbasic"), class: "btn btn-primary" %></li>
	      </div>
	    </div>
	  </div>

	   <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <div class="caption">
	        <h4 class="text-center"><b>Pro</b><br>
	        <h4 class="text-center"><b>$69</b/>/month<p>3 Day Free Trial</p></h4></h4>
	        <ul>
		       	<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to database of 290+ investors</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Unlimited searches</li>
		        <li class="point pull-left"><em class="fa fa-check fa-lg"></em> Remove query limitations</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Access to all search filters</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Create list of 50 investors at a time</li>
				<li class="point pull-left"><em class="fa fa-check fa-lg"></em> Export investor lists to CSV</li>
			</ul>
	        <li class="point text-center"><%= link_to "TRY PRO FOR FREE", new_subscription_path(plan: "monthpro"), class: "btn btn-primary" %></li>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row text-center">
		<hr>
		<h3><b>Frequently Asked Questions</b></h3>
		<p>If our FAQ doesn't answer your questions, please reach out to us in our live chat in the bottom right.</p>
		<br>
	</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p><b>What kind of investors do you have in this database?</b><br>DiasporaProject has investors from everything you can imagine: sports, fashion, AI, crypto, biotech, etc. Our investors are active everywhere from the USA to Lagos and Europe to South Africa. The majority of our investor database is angel investors and venture capitalists.</p>
				<p></p>
			</div>
		
			<div class="col-sm-6 col-md-6">
				<p><b>How did you get this data?</b><br>We started building this dataset manually a few years ago when we started raising money for new projects. We found there wasn't a place where we can locate and contact black investors, we decided to build a list with a few bots and compile other datasets to grow this database.</p>
				<p></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p><b>How do I contact these investors?</b><br>Please don’t spam these investors! Compile a list of relevant investors you think would be interested in your project, then use an email service like <a href="https://www.lusha.co/">Lusha</a> to locate their contact details <b>(phone number and email)</b> and Mixmax to email them.</p>
				<p></p>
			</div>

			<div class="col-sm-6 col-md-6">
				<p><b>How often is this data updated?</b><br>We make improvements to this data almost everyday, but there are always improvements to be made.</p>
				<p></p>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<p><b>What is your refund policy?</b><br>You have 3 days to request a refund. You must leave us a message on our live chat or email us, letting us know the email address on your account. You can cancel your account anytime, but after this 3 day period, refunds aren't available.</p>
				<p></p>
			</div>

			<div class="col-sm-6 col-md-6">
				<p><b>Which type of payments do you accept?</b><br>We use Stripe to process payments, so pretty much any credit and debit card in the world is accepted.</p>
				<p></p>	
			</div>
		</div>
	</div>
</div>