<%= form_for(@syndicate) do |f| %>
  <% if @syndicate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syndicate.errors.count, "error") %> prohibited this syndicate from being saved:</h2>

      <ul>
      <% @syndicate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="panel panel-default outer-margin">

    
   
    <div class="panel-body">

      <h3>Syndicate Info</h3>
      <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <div class="field">
            <p class="pull-right"><strong>Description</strong></p>
          </div>
        </div>

        <div class="col-md-8">
          <div class="field">
            <p>Tell us about your syndicate, what you look for and invest in.</p>
            <%= f.cktext_area :description, class: "form-control", ckeditor: {:language => 'uk'} %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <div class="field">
            <p class="pull-right"><strong>Initial Investment</strong></p>
          </div>
        </div>

        <div class="">
          <div class="field col-md-3">
            <p>How much are you initially investing?</p>
            <%= f.text_field :initial_investment, placeholder: "£" %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <div class="field">
            <p class="pull-right"><strong>Min investement</strong></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="field">
            <p>What's the minimum someone can invest?</p>
            <%= f.text_field :mininvest, placeholder: "£" %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <div class="field">
            <p class="pull-right"><strong>Expected Deals/Year</strong></p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="field">
            <p>How many companies do you invest a year?</p>
            <%= f.select :expecteddeals, [['1'],['2'],['3'],['4'],['5'],['6'],['7'],['8'],['9'],['10']] %>
          </div>
        </div>
      </div>

      <div class="actions text-center">
        <%= f.submit %>
      </div>
    </div>
  </div>
</div>
<% end %>
