<%= form_for(@syndicate) do |f| %>
  <% if @syndicate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@syndicate.errors.count, "error") %> prohibited this syndicate from being saved:</h2>

      <ul>
      <% @syndicate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, class: "form-control", :placeholder => "Explain in smallest details what your event is about.", :ckeditor => {:language => 'uk'} %>
  </div>

  <div class="field">
    <%= f.label :initial_investment, "Intial Investment" %><br>
    <%= f.text_field :initial_investment %>
  </div>

  <div class="field">
    <%= f.label :mininvest, "MIN INVESTMENT" %><br>
    <%= f.text_field :mininvest %>
  </div>

  <div class="field">
    <%= f.label :expecteddeals, "EXPECTED DEALS/YEAR" %><br>
    <%= f.text_field :expecteddeals %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
