<p id="notice"><%# notice %></p>
<div class="container">
  <div class="text-center">
    <h1>Syndicates</h1>
    <h4>Invest with other diaspora investors · How it works</h4>
  </div>

  <hr>


      <% @syndicates.each do |syndicate| %>
        <div class="box1 panel panel-default">
        <%= link_to image_tag(syndicate.user.photo.url(:medium), :class => "img-circle profile_margin", :width => "125x"), syndicate %>
       
          <strong><%= link_to syndicate.user.name, syndicate %></strong>
        <%= syndicate.user.miniresume %>
        <a href="index.html#advantages" class="button _filled-white-grey scroll-link highlighted">Back Syndicate</a>
        <%# link_to 'Show', syndicate %>
        <% if syndicate.user == current_user %>
        <%=  link_to 'Edit', edit_syndicate_path(syndicate) %>
        <%=  link_to 'Destroy', syndicate, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
      <% end %>

  <br>

</div>