<style type="text/css">

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.syndicate_description {
    margin-top: 45px;
}
  
</style>


<div class="profileheader">
  <div>
    <header class="header-box _bg-image" style=" background: url('/assets/main-guy.jpg') 50% 50% / cover; box-shadow: 1500px 313px rgba(0, 0 ,0, 0.6) inset;">   
    <div class="container">
      <% if @user == current_user %>
        <button id="show" class="button _filled-white-grey scroll-link highlighted pull-right">Edit Syndicate</button>

        <%= link_to 'Edit', edit_syndicate_path(@syndicate) %> |
        <%= link_to 'Back', syndicates_path %>

      <% end %>
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
          <div class="text-center center">
            <%= image_tag(@syndicate.user.photo.url(:medium), :class => "img-circle profile_margin", :width => "125x") %>
            <h1 class="page-title profile_margin"><%= @syndicate.user.name %>'s syndicate</h1>      
          </div>
        </div>
      </div>
      <div class="row text-center">
      <hr>
        <div class="col-md-4 syn_header">
          <p>BACKED BY</p>
          <h3 class="syn_header"><strong>£<%= number_with_delimiter(@total_confirm_pledges, :delimiter => ',') %></strong></h3>
        </div>
        <div class="col-md-4">
          <p>EXPECTED DEALS/YEAR</p>
          <h3 class="syn_header"><strong><%= @syndicate.expecteddeals %></strong></h3> 
        </div>
        <div class="col-md-4">
          <p>MIN INVESTMENT</p>
          <h3 class="syn_header"><strong>£<%= number_with_delimiter(@syndicate.mininvest, :delimiter => ',') %></strong></h3>
        </div>   
      </div>
      <hr>
    </div>
  </div>

<div>
  <div>
    <header class="_bg-image" style="background-color: #f9f9fa">   
    <div class="container">
      <div class="text-center syndicate_description">
        <h5><strong>Invest With <%= @syndicate.user.name %></strong></h5>
        <div class="blocktext"><%= raw @syndicate.description %></div>
      </div>
    </div>
</div>

<div class="text-center">
  <h2><%= @syndicate.forms.where('confirm_backer = ?', true ).count %> Backers</h2>
</div>

<% @backers.each do |form| %>
  <tr>
     <td><%= image_tag(form.user.photo.url(:medium), :class => "img-circle profile_margin", :width => "125x") %></td>
    <td><%= form.user.name %></td>
    <td><%= form.user.miniresume %></td>
  </tr>
<% end %>


<div class="text-center">
  <h2>Backer Application Form</h2>
</div>

<%= form_for @form do |f| %>
  <p>Investment amount</p>
  <%= f.hidden_field :syndicate_id, value: @syndicate.id %>
  <p><%= f.text_field :investment_pledge %></p>
  <p><%= f.submit "Submit Application" %></p>
<% end %>

<div class="text-center">
  <h2>Backers Submissions</h2>
</div>

<% @submissions.each do |form| %>
  <tr>
    <td><%= form.user.id %></td>
    <td><%= form.syndicate_id %></td>
    <td><%= form.investment_pledge %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<!-- if investor -->
<a href="index.html#reviews" class="button _filled-white-grey scroll-link highlighted">Apply to Invest</a>

<!-- else -->
<button class="button _filled-white-grey scroll-link highlighted">Apply to Invest</button>

<!-- end -->


