<style type="text/css">

.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.syndicate_description {
    margin-top: 45px;
}

.background {
  background-color: #f8f9fa;
}

.size1 > div > div img {
  width: 124px;
 }

.size1 > .col-md-3 {
  width: 33%;
 }


.size2 > div > div img {

  width: 124px;

 }

 .size2 >.col-md-3 {
  width: 33%;
 }


 .size3 > div > div img {

  width: 124px;

 }

 .size3 >.col-md-3 {
  width: 33%;
 }


.backer_margin {
    padding-top: 45px;
}

.button_blue {
    color: #3879D9;
    border: 1px solid #3879D9;
}

 
</style>

<script>
$(document).ready(function(){
    $(".edit").hide();
    $("#hide").click(function(){
        $(".edit").hide();
        $(".profileheader").show();
    });
    $("#show").click(function(){
        $(".edit").show();
        $(".profileheader").hide();
    });
});


$(document).ready(function(){
    $(".backer_form").hide();
    $("#show_form").click(function(){
        $(".backer_form").show();
    });
});

</script>




<div class="profileheader">
  <header class="header-box _bg-image" style=" background: url('/assets/main-guy.jpg') 50% 50% / cover; box-shadow: 1500px 313px rgba(0, 0 ,0, 0.6) inset;">   
    <div class="container">
      <% if @syndicate.user == current_user %>
        <button id="show" class="button _filled-white-grey scroll-link highlighted pull-right">Edit Syndicate</button>
      <% end %>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="text-center">
            <%= image_tag(@syndicate.user.photo.url(:medium), :class => "img-circle profile_margin", :width => "124px") %>
            <h1 class="page-title profile_margin"><%= @syndicate.user.name %>'s syndicate</h1>      
          </div>
        </div>
      </div>
      <div class="row text-center">
      <hr>
        <div class="col-md-4 syn_header">
          <p>BACKED BY</p>
          <h3 class="syn_header"><strong>£<%= number_with_delimiter(@syndicate.list, :delimiter => ',') %></strong></h3>
        </div>
        <div class="col-md-4">
          <p>EXPECTED DEALS/YEAR</p>
          <h3 class="syn_header"><strong><%= @syndicate.expecteddeals %></strong></h3> 
        </div>
        <div class="col-md-4">
          <p>MIN INVESTMENT</p>
          <h3 class="syn_header"><strong>£<%= number_with_delimiter(@syndicate.mininvest, :delimiter => ',') %></strong></h3>
        </div>   
      </div>
      <hr>
    </div>
  </header>
</div>

<div class="edit">

<header class="_bg-image" style="background-color: #f9f9fa;">  
<% if @syndicate.user == current_user %>

<div class="container outer-margin">
  
    <%= form_for(@syndicate) do |f| %>
    <a id="hide">Cancel</a> 
     <div class="actions">
        <%= f.submit %>
      </div>
      <% if @syndicate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@syndicate.errors.count, "error") %> prohibited this syndicate from being saved:</h2>

          <ul>
          <% @syndicate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="panel-heading text-center"><p><%= @syndicate.user.name %>'s syndicate / <strong>Edit Syndicate</strong></p></div>
      
      <div class="row">
        <%= f.label :description %><br>
        <%= f.cktext_area :description, class: "form-control", :placeholder => "Explain in smallest details what your event is about.", :ckeditor => {:language => 'uk'} %>
      </div>

      <div class="field">
        <%= f.label :initial_investment, "Intial Investment" %><br>
        <%= f.text_field :initial_investment %>
      </div>

      <div class="field">
        <%= f.label :mininvest, "MIN INVESTMENT" %><br>
        <%= f.text_field :mininvest %>
      </div>

      <div class="field">
        <%= f.label :expecteddeals, "EXPECTED DEALS/YEAR" %><br>
        <%= f.text_field :expecteddeals %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
</div>
</header>

 
  <div class="container">
    <div class="row">
      <div class="text-center col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 syndicate_description">
        <h5><strong>Invest With <%= @syndicate.user.name %></strong></h5>
        <div><%= raw @syndicate.description %></div>
      </div>
    </div>
  </div>
  </div>

<div class="text-center">
  <button id="show_form" class="button_blue">Back Syndicate</button> 
</div>

<div class="backer_form">
<% if current_user.investor == true %>
    <div class="container">
      <div class="text-center">
        <h2>Backer Application Form</h2>
      </div>

      <%= form_for @form do |f| %>
        <p><strong>Investment amount</strong></p>
        <%= f.hidden_field :syndicate_id, value: @syndicate.id %>
        <div class="feild">
          <p><%= f.number_field :investment_pledge %></p>
        </div>
        <div class="feild">
          <%= f.submit "Submit Application" %>
        </div>
      <% end %>
    </div>
<% else %>


<h2>Hello</h2>

<% end %>  
</div>
<header class="_bg-image" style="background-color: #f9f9fa;">  
  <div class="text-center">
    <h2 class="backer_margin"><%= @syndicate.forms.where('confirm_backer = ?', true ).count %> Backers</h2>
  </div>
  <br>
  <br>
  <div class="row text-center">
      <% n = 1; (@backers).each do |form| %>
      <%= content_tag :div, class: "size#{n}" do -%>
        <div class="col-sm-2 col-md-3">
          <div class="row">
            <%= link_to image_tag(form.user.photo.url(:medium), :class => "img-circle profile_margin center", :width => "64px"), user_path(form.user) %></td>
          </div>
          <p><strong><%= form.user.name %></strong></p>
          <p><%= form.user.miniresume %><p>
        </div>
      <% end %>
      <% n = n+1; if n > 100 then n = 1 end%>
      <% end %>
  </div>
  </p></p></div></div>
  </header>

<div class="text-center">
  <h2>Backers Submissions</h2>
</div>

<% @submissions.each do |form| %>
  <tr>
    <td><%= form.user.id %></td>
    <td><%= form.syndicate_id %></td>
    <td><%= form.investment_pledge %></td>
    <td><%= link_to 'Show', form %></td>
    <td><%= link_to 'Edit', edit_form_path(form) %></td>
    <td><%= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

<!-- if investor -->
<a href="index.html#reviews" class="button _filled-white-grey scroll-link highlighted">Apply to Invest</a>

<!-- else -->
<button class="button _filled-white-grey scroll-link highlighted">Apply to Invest</button>

<!-- end -->


  <div class="row">


 



  </div>
</div>


