<style type="text/css">
  
.col-md-7 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
}

.col-md-8 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 15px;
}

.img{
    float: left;
    margin-right:1rem;
}

form {
    margin-bottom: 0rem;
}

.border:not(:last-child) {
    border-bottom: solid thin #dddddd;
    margin-bottom: 20px;
}

.component--results .all-results-upsell-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 205px;
    background-color: rgba(0,0,0,.7);
}

.component--results .all-results-upsell-wrapper {
    min-height: 410px;
}

.background {
    background-color: #1d2531;
    color: #fff;
}


.margin-button-top {
  margin-top: 15px;
}

</style>

</style>

<div class="container">
    <hr>
    <div class="col-md-2">
      <p>Investors</p>
    </div>

    <div class="col-md-10">
      <%= render :partial => 'shared/search' %>
      <div class="border"></div>
      <ul class="media-list">
        <p><%= @profiles.count %> results</p>
        <%= render 'shared/search_results', results: @profiles %>
      </ul>
    </div>
</div>
<% unless current_user_subscribed? %>
  <div class="background">
    <div class="container">
      <h2 class="headline ng-star-inserted">View all <%= @profiles.count %> investors from this search</h2>
      <div class="description ng-star-inserted">Our trial search is limited to 3 results per search query. When you upgrade to DiasporaConnect Pro, you  can access unlimited search results, create and export investor lists to CSV, and access to all search filters.
      </div>
      <div class="row">
          <%= link_to "START FREE TRIAL", premium_path, class: "btn btn-primary button-margin margin-button-top" %>
        </div>
    </div>
  </div>
<% end %>
