<!DOCTYPE html>
<html>
<head>
  <title>TheDiasporaProject - Where people of african and african caribbean heritage can invest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/",'application', "https://checkout.stripe.com/checkout.js" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "stripe-key", content: Rails.application.credentials[Rails.env.to_sym][:stripe_public] %>

  <link rel='stylesheet' id='sd-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext&ver=1.0.0' type='text/css' media='all' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Custom Fonts -->
    <script src="https://kit.fontawesome.com/1301feaea8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>
<body>

<%= render 'layouts/header' %>
<div class="container">
  <%# flash.each do |name, msg| %>
    <%# content_tag(:div, msg, class: "alert alert-#{name}") %>
  <%# end %>
</div>

	<%= yield %>

</body>
</html>
